<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a type="button" class="btn" href="/" target="_self" role="button">首页</a>
        </li>
        <li class="breadcrumb-item active">
            <a type="button" class="btn" href="/detail" target="_self" role="button">景区推荐</a></li>
        <!--<li class="breadcrumb-item"><a type="button" class="btn" href="/recommend" target="_blank" role="button">旅游推荐</a></li>-->
        <li class="breadcrumb-item">
            <a type="button" class="btn" href="/discount" target="_self" role="button">票价折扣</a>
        </li>
        <li class="breadcrumb-item">
            <a type="button" class="btn" href="/overview" target="_blank" role="button">数据总览</a>
        </li>
        <li class="breadcrumb-item">
            <a type="button" class="btn" href="/word" target="_self" role="button">热区词云</a>
        </li>
        <li class="breadcrumb-item">
            <a type="button" class="btn" href="/delicacies" target="_self" role="button">美食打卡</a>
        </li>
        <li class="breadcrumb-item">
            <a type="button" class="btn" href="/about" target="_self" role="button">关于我们</a>
        </li>
    </ol>
</nav>