<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="css/about.less" type="text/less">
</head>
<body>
<div class="gradient"></div>
<div class="container">
    {{include './common/indexHeader.html'}}
</div>
<div class="inf">
    <div class="block-bottom-content">
        <h1 align="center" style="color: #fff" class="title title-medium"><a href="/message" target="_blank">联系我们</a></h1>
        <br>
        <p style="text-align: center;font-size:20px"><a href="https://gitee.com/icestone9/tourism-visualization"
                                                        style="color: #a1c4fd" target="_blank">项目开发历程</a></p>
        <p align="center" style="color: #ffffff;font-size:20px;" class="text">
            有问题请联系电话：15623723633 邮箱：2665467691@qq.com
            <br>
            <br>感谢您使用与阅览, 我们的作品还有很多不足的地方, 欢迎大家给出自己的建议和想法
            <br>
            <br>
        </p>
        <div align="center" style="color: #fff;">
            本作品所使用的地图均以“自然资源部网上政务服务平台（测绘地理信息）/标准地图服务系统”所提供的“中国地图1：740万
            对开”地图为准。
        </div>
        <br>
        <div align="center" style="color: #fff;">
            地图网址为：http://bzdt.ch.mnr.gov.cn/browse.html?picId=%224o28b0625501ad13015501ad2bfc0667%22
        </div>
    </div>
</div>
</body>
{{include './common/common.html'}}
</html>