<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>旅游推荐</title>
    <link rel="stylesheet" href="css/recommend.less" type="text/less">
</head>
<body>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a type="button" class="btn" href="/" target="_blank" role="button">首页</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a type="button" class="btn" role="button">旅游推荐</a>
            </li>

        </ol>
    </nav>
</div>

<div class="recommend">
    <div class="left">
        <div class="line" id="line">

        </div>

    </div>
    <div class="right">
        <div class="oneRow">
            <div class="dot">

            </div>
            <div class="lines">

            </div>
        </div>

        <div class="towRow">

        </div>

    </div>
</div>

</body>
{{include './common/common.html'}}
<script src="js/indexDb.js"></script>
<script src="js/recommend.js"></script>
</html>